h1 {
    color: cornflowerblue;
    font-family: sans-serif, "Microsoft Sans Serif";
    font-size: xxx-large;
}

.maintable, th, td {
    border-color: white;
    border-style: solid;
    padding: 30px;
    font-family: sans-serif;
    font-style: initial;
    border-collapse: collapse;
    font-size: xx-large;
    text-align: center;
}

th {
    background-color: cornflowerblue;
    color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.maintable {
    border-radius: 10px;
}

#name {
    text-align: left;
}

.searchfield {
    border-color: cornflowerblue;
    border-radius: 20px;
    padding: 15px;
    width: 530px;
    margin-right: 10px;
    font-size: large;
}

.searchbutton {
    background-color: cornflowerblue;
    border-radius: 60px;
    color: white;
    padding: 15px;
    font-size: large;
}

.actions2 {
    display: flow;

}

.sortbuttons {
    background-color: cornflowerblue;
    border-radius: 60px;
    color: white;
    padding: 18px;
    margin-right: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: x-large;
}

#newItem {
    font-size: xxx-large;
    color: cornflowerblue;
    text-decoration: none;
    border-style: solid;
    border-radius: 20px;
    border-color: cornflowerblue;
    padding: 20px;
}

#quantity {
    width: 20px;
}


