<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit item</title>
    <link rel="stylesheet" th:href="@{/styleEdit.css}" />
</head>
<body>
<h1>Edit item</h1>
<form th:action="@{/bioshop/update(id=${product.getId()})}" method="post" th:object="${product}">
    <label for="name">Name</label>
    <input type="text" id="name" th:value="${product.name}" th:field="*{name}">
    <input type="hidden" name="id" th:value="${product.id}" th:field="*{id}">
    <label for="price">Price</label>
    <input type="number" id="price" th:value="${product.price}" th:field="*{price}">
    <label for="quantity">Quantity</label>
    <input type="number" id="quantity" th:value="${product.quantity}" th:field="*{quantity}">
    <input type="submit" value="Edit" class="submit">
    <a th:href="@{/bioshop}" class="cancel">Cancel</a>
</form>
</body>
</html>