<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bio Shop</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body>
<h1>Bio shop</h1>
<table class="actions1">
    <form th:action="@{/bioshop/search}" method="get">
        <input type="text" placeholder="Search products..." th:name="name" class="searchfield">
        <input type="submit" value="Search" class="searchbutton">
    </form>
</table>
<table class="actions2">
    <form>
        <a th:href="@{/bioshop/create}" id="newItem">Add new item</a>
    </form>

</table>


<table class="maintable">
    <thead>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th id="quantity">Quantity of stock</th>
        <th>Edit item</th>
        <th>Delete item</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="item, iter : ${items}" th:object="${item}">
        <td th:text="${item.getName()}" id="name"></td>
        <td th:text="${item.getPrice()}"></td>
        <td th:text="${item.getQuantity()}"> </td>
        <td><a th:href="@{/bioshop/edit(id=${item.getId()})}">Edit</a>
        </td>
        <td><a th:href="@{/bioshop/delete(id=${item.getId()})}" onclick="return confirm('Are you sure?')">Delete</a>
        </td>
    </tr>

    </tbody>
</table>

</body>
</html>